<ion-view>
  <ion-nav-title>
    <span ng-hide="search.searchMode">
      Kichili
      <button class="button icon-right ion-search button-clear filter" style="float:right; padding-top: 6px" ng-click="search.searchModeOn()"></button>
    </span>
    <span class="item item-input item-light" style="padding: 0px; padding-left: 10px; margin: 0px; float: left; width: 100%" ng-show="search.searchMode">
      <input id="searchText" type="search" placeholder="search..." ng-model="search.searchText" style="color: black" ng-model-options="{debounce: 250}"/>
      <button class="button icon-right ion-close-round button-clear filter" style="float:right; padding-top: 6px; color:red" ng-click="search.searchModeOff()"></button>
    </label>

  </ion-nav-title>
  <ion-nav-buttons side="left">
     <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-subheader-bar class="bar bar-subheader">
    <h1 class="title"><span ng-bind-html="category.categoryId"></span></h1>
  </ion-subheader-bar>
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item ng-repeat="product in products | filter:search.searchText">
        <div class="row">
          <div class="col-33">
            <img ng-src="{{product.featured_src}}" style="width: 90%; height: auto; max-height: 100px; padding: 5px"></img>
          </div>
          <div class="col">
            <div class="row">
          <span class="col">
            {{product.title}}
          </span>
        </div>
        <div class="row">
          <span class="col" style="font-size: small">
            {{product.company}}
          </span>
        </div>
        <div class="row" style="padding-top: 5px; width: 100%; border-width: 1px; border-color: black; border-style: bold">
            <!--<select class="col item item-select item-input" ng-model="product.availableSize.value" ng-options="v for v in product.availableSize.values">
            </select>-->
            <span ng-bind-html="product.short_description"></span>
        </div>
        <div class="row">
          <div class="col" style="padding-top: 5px">
              <span style="text-decoration: line-through; color: darkgray" class="disabled">&#8377; {{product.regular_price}}</span>
             <span >/ &#8377; {{product.sale_price}}</span>
          </div>
          <!--<div class="col"></div>-->
          
        </div>
        <div class="row">
          <div class="col">
            
          </div>
          <div class="col">
            
          </div>
          
              <div class="col">
                <button ng-if="product.qty > 0" class="button icon-left ion-minus-circled button-clear button-assertive " ng-click="reduceQty($index)" style="padding: 0px; position: relative; left: -6px"></button>
              </div>
              <div class="col">
                <button class="button icon-right ion-plus-circled button-clear button-assertive" ng-click="addQty($index)">
                  <span ng-if="product.qty > 0" style="position: relative; left:-8px;">{{product.qty}}</span>
                  <span ng-if="product.qty <= 0 || !product.qty" style="position: relative; left:-20px; border-radius: 5px; border-color: red;">Add</span>
                </button>
              </div>
            </div>
        </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-positive" ng-show="(cart()).length > 0">
    <button class="button icon-left ion-ios-cart button-postive" ng-click="go('appcheckout')">&nbsp;&nbsp;&#8377;{{cartTotal()}}</button>
    <h1 class="title" style="font-size: small">Kichili</h1>
    <div class="buttons">
      <a class="button icon-right ion-arrow-right-c button-light" href="#/app/checkout">Checkout
      </a>
    </div>
  </ion-footer-bar>
</ion-view>