/* Empty. Add your own CSS if you like */
i:hover {
  color: #4F8EF7;
}
i.active {
  color: #4F8EF7;
}

a:link {
    text-decoration: none;
}

.filter::before {
	font-size: 20px !important;
}

.funnel::before {
	font-size: 18px !important;
}

.col {
	padding: 0px;
}

input, select, textarea{
    color: #f00;
}

textarea:focus, input:focus {
    color: white;
}

.button.carticon {
	font-size: 15px;
}

.button.carticon:before {
	font-size: 20px;
}

.error {
	font-size: 12px;
	color: red;
	border: none;
}

.title {
	text-align: center
}