<ion-view>
  <ion-nav-title>
    <span>Kichili</span>
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item nav-clear menu-close ng-repeat="category in categories" class="item-calm" ng-click="go('{{category.name}}')">
        <img ng-src="{{category.image}}" style="width:40px; height: 40px;"></img>
        <span ng-bind-html="category.name"></span>
      </ion-item>
      <ion-item menu-close ng-click="login()" class="item-assertive" ng-controller="loginCtrl">
          <i class="icon ion-arrow-right-c" style="padding-right: 5px"></i>Login
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>