<ion-view>
  <ion-nav-title>
    <span>Cart</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
     <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-show="cartProducts().length == 0">
      <span>No items in the cart.</span>
      <div class="buttons">
        <a nav-clear menu-close class="button button-assertive" href="#/app/home">Shop
        </a>
      </div>
    </div>
    <ion-list ng-show="cartProducts().length > 0">
      <ion-item style="margin: 0px; padding: 0px">
        <div class="row" style="margin: 0px; padding: 0px; padding-bottom: 5px">
          <div class="col-33" style="word-wrap: break-word; white-space:normal; font-size: small; padding: 2px; text-align: center; background-color: #E6EEF1">
            <b>Item</b>
          </div>
          <div class="col-20" style="word-wrap: break-word; white-space:normal; font-size: small; padding: 2px;">
            <b>Price</b>
          </div>
          <div class="col-25" style="word-wrap: break-word; white-space:normal; font-size: small; padding: 0px; margin: 0px; background-color: #D3E6EC; text-align: center">
             <b>Qty</b>
          </div>
          <div class="col" style="word-wrap: break-word; white-space:normal; font-size: small; padding: 2px; background-color: lightblue; text-align: center">
            <b>Total</b>
          </div>
        </div>
      </ion-item>
      <ion-item ng-repeat="product in products" style="margin: 0px; padding: 0px" ng-show="product.qty > 0">
        <div class="row" style="margin: 0px; padding: 0px">
          <div class="col-33" style="word-wrap: break-word; white-space:normal; font-size: small; padding: 5px; background-color: #E6EEF1; text-align: center">
            {{product.title}}
            <span ng-bind-html="product.short_description"></span>
          </div>
          <div class="col-20" style="word-wrap: break-word; white-space:normal; font-size: small; padding: 2px; text-align: center; valign: middle;">
            <span class="col" style="padding-top: 25%">&#8377; {{product.sale_price}}</span>
          </div>
          <div class="col-25" style="word-wrap: break-word; white-space:normal; font-size: small; padding: 0px; margin: 0px; background-color: #D3E6EC; text-align: center">
             <div class="row" style="padding: 0px; margin: 0px;">
              <div class="col-20" style="padding: 0px; margin: 0px; padding-left: 5px">
                <button ng-if="product.qty > 0" class="button icon-left ion-minus-circled button-clear button-assertive carticon" ng-click="reduceQty($index)" style="padding: 0px;">&nbsp;</button>
              </div>
              <div class="col" style="padding: 0px; margin: 0px; margin-left: 10px">
                <button class="button icon-right ion-plus-circled button-clear button-assertive carticon" ng-click="addQty($index)">
                  <span ng-if="product.qty > 0">{{product.qty}}</span>
                  <span ng-if="!product.qty">0</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col" style="word-wrap: break-word; white-space:normal; font-size: small; padding: 2px; background-color: lightblue; text-align: right; ">
            <span class="col" style="padding-top: 25%">&#8377; {{price(product)}}</span>
          </div>
        </div>
      </ion-item>
      <ion-item align-title="left" class="bar-positive">
        <div class="row" style="font-weight: bold">
          <div class="col-offset-33 col">
            Total Price: 
          </div>
          <div class="col">
            &#8377; {{cartTotal()}}
          </div>
        </div>
      </ion-item>

      <ion-item align-title="left" style="color: black">
        <div class="list">
          <form name="delivery" role="form" ng-submit="placeOrder(delivery)" novalidate>
          
          <label class="item item-input">
            <span class="input-label">Name*</span>
            <input type="text" name="name" style="color: black" placeholder="Ram" ng-model="deliveryInfo.first_name" required>
          </label>
          <span class="error" ng-show="!deliveryInfo.valid && delivery.name.$error.required">Name is required!</span>
          
          <label class="item item-input">
            <span class="input-label">Email*</span>
            <input type="email" style="color: black" placeholder="ram@kichili.com" name="email" ng-model="deliveryInfo.email" required>
          </label>
          <span class="error" ng-show="!deliveryInfo.valid && delivery.email.$error.required">Email is required!</span>
          <span class="error" ng-show="!deliveryInfo.valid && delivery.email.$error.email">Enter a valid email!</span>
          
          <label class="item item-input">
            <span class="input-label">Phone*</span>
            <input type="number" style="color: black" placeholder="9884618981" ng-model="deliveryInfo.phone" name="phone" required ng-maxlength="11" ng-minlength="10">
          </label>
          <span class="error" ng-show="!deliveryInfo.valid && delivery.phone.$error.required">Phone number is required!</span>
          <span class="error" ng-show="!deliveryInfo.valid && delivery.phone.$error.number">Enter a valid phone number!</span>
          <span class="error" ng-show="!deliveryInfo.valid && (delivery.phone.$error.minlength || delivery.phone.$error.maxlength)">Enter a valid phone number!</span>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Address</span>
            <span class="error" ng-show="!deliveryInfo.valid && delivery.address_1.$error.required">Address line 1 is required!</span>
            <input type="text" style="color: black"  placeholder="Appartment, suite, unit, etc.*" required ng-model="deliveryInfo.address_1" name="address_1">
            <input type="text" style="color: black" placeholder="Street address" ng-model="deliveryInfo.address_2" name="address_2">
          </label>
          <lablel style="font-size: 10px; color: gray">Currently delivering only in Chennai</label>
          <label class="item item-input">
            <span class="input-label">Town/City</span>
            <input type="text" style="color: black;" disabled placeholder="Town/City" value="" ng-model="deliveryInfo.city" name="city">
          </label>
          <label class="item item-input">
            <span class="input-label">Pincode</span>
            <input type="number" style="color: black;" placeholder="Pincode" value="" ng-model="deliveryInfo.postcode" name="postcode" required ng-maxlength="6" ng-minlength="6">
          </label>
          <span class="error" ng-show="!deliveryInfo.valid && delivery.postcode.$error.required">Pincode is required!</span>
          <span class="error" ng-show="!deliveryInfo.valid && delivery.postcode.$error.number">Enter a valid pincode!</span>
          <span class="error" ng-show="!deliveryInfo.valid && (delivery.postcode.$error.minlength || delivery.phone.$error.maxlength)">Enter a valid pincode!</span>
          <div class="row" style="float:right; padding: 0px; margin: 0px; margin-top: 10px">
            <div class="col col-50 col-offset-50">
              <button type="submit" class="button icon-right ion-arrow-right-c button-assertive" style="float:right;">Place Order
              </button>
            </div>
          </div>
          </form>
        </div>
      </ion-item>

    </ion-list>
  </ion-content> 
</ion-view>